/* stylesheets/about-us.css */

.content {
    max-width: 800px;
    margin: 1% auto 0;
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2.5em;
    color: #004f7c;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 2em;
    color: #004f7c;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.content ul li {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.content a {
    color: #61d4b3;
    text-decoration: none;
    border-bottom: 1px solid #61d4b3;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.content a:hover {
    color: #004f7c;
    border-bottom-color: #004f7c;
}